@media screen and (max-width: 550px) {
    /* navbar */

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
    }

    header {
        padding: 0 15px;
    }

    .nav-item {
        padding-top: 14px;
    }

    .nav-item a {
        font-size: 16px;
    }

    .hero-title {
        font-size: 35px;
        padding: 0 24px 14px 24px;
    }

    .hero_content a {
        background-color: var(--hover);
        color: var(--bg-color);
        font-size: 16px;
        text-decoration: none;
        padding: 8px 18px;
    }

    /* service */
    .explore_content h2 {
        font-size: 24px;
        padding: 24px;
        font-weight: 600;
    }

    .explore_content {
        padding: 0 14px;
    }

    .title_service {
        font-size: 18px;
        font-weight: 600;
    }

    .description {
        font-size: 16px;
        line-height: 20px;
    }

    /* contact */
    .title-contact h1 {
        font-size: 35px;
        padding: 0 24px 0 24px;
    }

    /* product */
    .container-fluid img {
        height: 7vh;
        padding: 0;
    }

    .product-image {
        height: auto;
    }

    .list-item-image {
        height: 55vh;
        width: 100%;
    }

    .our_collection h3 {
        font-size: 24px;
        padding: 24px;
        font-weight: 600;
    }

    .title_product {
        padding-top: 15px;
        font-size: 16px;
    }

    .grid-product {
        display: grid;
        gap: 14px;
        padding: 7px 14px;
    }

    .list-product:hover {
        transition: 1.5s;
        transform: scale(1.05);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    /* FAQs */
    .batik-faqs h4 {
        font-size: 24px;
        padding: 24px;
        font-weight: 600;
    }

    .accordion {
        margin: 15px;
        padding-bottom: 20px;
    }

    .accordion-item .accordion-header button {
        font-size: 18px;
    }

    .accordion-body {
        font-size: 16px;
    }

    /* contact */
    .title-contact h1 {
        font-size: 35px;
        padding: 0 24px 0 24px;
    }

    .form-wrap p {
        font-size: 16px;
        padding: 30px 0;
    }

    .form-control-button {
        font-size: 12px;
    }

    footer {
        font-size: 13px;
    }

}

@media screen and (min-width: 550px) {

    .hero-title {
        font-size: 38px;
    }

    .hero_content a {
        background-color: var(--hover);
        color: var(--bg-color);
        font-size: 16px;
        text-decoration: none;
        padding: 8px 20px;
    }

    .explore_content h2 {
        font-size: 28px;
        padding-bottom: 14px;
    }

    .title_service {
        font-size: 20px;
    }

    .description {
        font-size: 16px;
        line-height: normal;
    }

    .our_collection h3 {
        font-size: 28px;
    }

    .batik-faqs h4 {
        font-size: 28px;
    }

    .explore_content {
        padding: 0 24px;
    }

    .list-item-image {
        height: 80vh;
        width: 100%;
    }

    .container-fluid img {
        height: 8vh;
        padding: 0;
    }

    .nav-item {
        padding-top: 16px;
    }

    .nav-item a {
        font-size: 18px;
    }

    .grid-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        padding: 10px 20px;
    }

    .accordion {
        margin: 15px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 900px) {
    .nav-item {
        margin-right: 30px;
        font-size: 20px;
    }

    .hero_content a {
        background-color: var(--hover);
        color: var(--bg-color);
        font-size: 20px;
        text-decoration: none;
        padding: 10px 24px;
    }

    .list-item-image {
        height: 70vh;
        width: 100%;
    }


    .container-fluid img {
        padding-left: 50px;
    }

    .menu {
        padding-right: 50px;
    }

    .accordion {
        margin: 15px 45px;
        padding-bottom: 80px;
    }

    .accordion-body {
        font-size: 18px;
    }

    .accordion-item .accordion-header button {
        font-size: 22px;
    }

    .grid-service {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        margin: 32px auto;
    }

    .grid-product {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
    }
}