@media screen and (max-width: 455px) {

    .hero-title {
        font-size: 35px;
        padding: 0 24px 0 24px;
    }

    /* service */
    .explore_content h3 {
        font-size: 28px;
        padding: 24px;
        font-weight: 600;
    }

    .title_service {
        font-size: 18px;
        font-weight: 600;
    }

    .description {
        font-size: 16px;
        line-height: 20px;
    }

    /* contact */
    .title-contact h1 {
        font-size: 35px;
        padding: 0 24px 0 24px;
    }

    /* product */
    .container-fluid img {
        height: 7vh;
        padding: 0;
    }

    .product-image {
        height: 45vh;
    }

    .list-item-image {
        height: 35vh;
    }

    .our_collection h4 {
        font-size: 28px;
        padding: 24px;
        font-weight: 600;
    }

    .title_product {
        padding-top: 15px;
        font-size: 20px;
    }

    .list-product {
        padding: 0 24px 0 24px;
        gap: 24px;
    }

    .list-product:hover {
        transition: 1.5s;
        transform: scale(1.05);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    /* FAQs */
    .batik-faqs h4 {
        font-size: 28px;
        padding: 24px;
        font-weight: 600;
    }

    /* contact */
    .title-contact h1 {
        font-size: 35px;
        padding: 0 24px 0 24px;
    }

    .form-wrap p {
        font-size: 16px;
        padding: 30px 0;
    }

    .form-control-button {
        font-size: 12px;
    }

    footer {
        font-size: 13px;
    }

}

@media screen and (min-width: 900px) {

    .container-fluid img {
        padding-left: 50px;
    }

    .menu {
        padding-right: 50px;
    }

    /* contact */
    .form-wrap p {
        text-align: center !important;
        padding: 30px 15%;
    }

    .grid-service {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        margin: 32px auto;
    }

    .grid-product {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        margin: 15px 45px;
    }
}